<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logPath" value="c:annuals\Processing_log.txt"/>
    <add key="dbUser" value="develope" />
    <add key="dbPassword" value="MERLIN" />
    <add key="database" value="GPDC.guardianshipprogram.org" />
    <add key="host" value="192.168.144.234" />
    <add key="accountingFolder" value="C:\Annuals\EFiledAccounting"/>
    <add key="planFolder" value="C:\Annuals\EFiledPlans"/>
    <add key="AnnualAccounting_Template" value="WARD-RETPRP-0-214-SEQ.pdf"/>
    <add key="AnnualPlan_Template" value="WARD-ANPLAN-0-215-SEQ.pdf"/>

  </appSettings>
</configuration>